:root {
	--defaultBackground: #7d8cc4;
	--defaultTextColor: #1e152a;
	--reverseBackground: #1e152a;
	--reverseTextColor: #7d8cc4;
}

/* General Definitions */
body {
	color: var(--defaultTextColor);
	background-color: var(--defaultBackground);
	font-family: sans-serif;
	margin: 0;
}

sup {
	font-size: small;
}

/* Button Reset */

button {
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 6px;
	font-family: sans-serif;
}

/* Link Reset */

a {
	color: inherit;
	text-decoration: inherit;
}

/* Header */
.header {
	display: flex;
	justify-content: center;
	background-color: var(--reverseBackground);
	font-family: inherit;
}

.hBox {
	display: inherit;
	justify-content: space-between;
	margin: 20px 0px;
}

.headerLeft {
	color: var(--reverseTextColor);
	font-family: inherit;
	font-size: 48px;
	font-weight: bolder;
	display: inherit;
	flex-direction: column;
	justify-content: space-around;
	min-width: 373px;
}

.iTitle {
	color: inherit;
	display: inherit;
	text-align: center;
	font-size: 32px;
	font-weight: bolder;
}

/* Future Subpages */

/* .headerRight {
	display: flex;
	color: #7d8cc4;
	font-size: 18px;
} */

/* .header ul {
	display: flex;
	gap: 16px;
	list-style-type: none;
	margin: 0;
	padding: 0;
} */

/* Section A is "Default" Color Scheme and Inherits from "Body"  */

.sectionA {
	color: inherit;
	background-color: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
}

.bioBox {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: space-around;
	align-items: center;
}

.bioTitle {
	display: inherit;
	text-align: center;
	font-size: 32px;
	font-weight: bolder;
	color: var(--defaultTextColor);
	min-width: 521px;
}

.bioPhoto {
	max-width: 325px;
}

/* Section B is the "Alternate" Color Scheme and is defined here */

.sectionB {
	color: var(--reverseTextColor);
	background-color: var(--reverseBackground);
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
}

.prodTitle {
	color: inherit;
	display: inherit;
	text-align: center;
	font-size: 42px;
	font-weight: bold;
	padding: 0px 0px 20px;
}

/* .contentBtitle {
	color: #7d8cc4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
} */

.icons {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.iconContainer {
	display: inherit;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	width: 250px;
	height: 250px;
}

.iconSquare {
	display: inherit;
	height: 400px;
	width: 400px;
	/* background-color: #7D8CC4; */
	/* border: 5px solid #7D8CC4; */
	border-radius: 20px;
	justify-content: center;
	align-items: center;
}

.prodBtn {
	width: 400px;
}

.prodBtn img {
	width: 200px;
}

.iconText {
	color: #7d8cc4;
	font-size: 24px;
	text-align: center;
	padding: 10px 0px 0px 0px;
}

.icons .box1 {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	text-align: center;
	width: 150px;
}

.iconSquare:hover {
	transform: scale(1.1);
}

.iconSquare:active {
	transform: scale(0.9);
}

.mediaContainer {
	display: flex;
	min-width: 450px;
	max-width: 520px;
	flex-direction: column;
}

.mediaBox {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: space-around;
	align-items: center;
}

.mediaBlock {
	display: inherit;
	justify-content: center;
	align-items: center;
}
.mediaVid {
	box-shadow: 2px 5px #1f2937;
	border-radius: 30px;
}

.mediaBtn {
	color: var(--reverseTextColor);
	min-width: 450px;
	max-width: 520px;
	font-size: 28px;
	background-color: var(--reverseBackground);
	border-radius: 30px;
	padding: 5px;
	box-shadow: 2px 5px #1f2937;
}

.mediaBtn:hover {
	transform: scale(1.1);
}

.mediaSquare:active {
	transform: scale(0.9);
}

.mediaText {
	color: inherit;
	font-size: 16px;
	text-align: center;
	padding: 10px 0px;
}

#sMediaBtn1 img {
	filter: invert(54%) sepia(66%) saturate(265%) hue-rotate(190deg)
		brightness(91%) contrast(85%);
}

/* CSS For Product Page */

.pIcons {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/* max-width: 1560px; */
	/* gap: 15px; */
}

.pBox {
	color: inherit;
	display: inherit;
	align-content: space-around;
	max-width: 250px;
}

.pIconContainer {
	color: inherit;
	display: inherit;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.pIconSquare {
	display: inherit;
	flex-direction: column;
	color: inherit;
	height: 225px;
	width: 225px;
	justify-content: center;
	align-items: center;
}

.pIconSquare:hover {
	transform: scale(1.1);
}

.pIconSquare:active {
	transform: scale(0.9);
}

.pIconTextBox {
	display: inherit;
	flex-direction: column;
	justify-content: space-around;
	min-height: 135px;
}

.pIconTextBox#index1 {
	min-height: 10px;
}

.pIconText {
	color: inherit;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding: 10px 0px;
}

.prodBtn {
	display: inherit;
	justify-content: center;
	width: 200px;
}

.prodBtn img {
	width: 200px;
}

.pTitle {
	color: inherit;
	display: inherit;
	text-align: center;
	font-size: 42px;
	font-weight: bold;
	padding: 0px 0px 20px;
}
