body {
	background-color: #fde8e9;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	min-width: 1050px;
	margin: 0;
}

button {
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 6px;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: inherit;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content {
	display: flex;
	flex-direction: column;
	align-content: space-evenly;
	margin: 50px 0px;
	min-width: 1050px;
}

.contentBox {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: space-around;
}

.contentTitle {
	text-align: center;
	font-size: 32px;
	font-weight: bolder;
	color: #050826;
}

.contentPhoto {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.content1third {
	font-size: 24px;
	color: #050826;
}

.content1box2 {
	display: flex;
	width: 500px;
	justify-content: center;
	align-items: center;
}
.contentMedia {
	display: inherit;
	align-content: center;
	width: 560;
	gap: 20px;
	flex-direction: column;
}

.mediaContainer {
	display: inherit;
	gap: 20px;
	width: 560;
	flex-direction: column;
}

.mediaBlock {
	display: inherit;
	/* height: 150px; */
	/* width: 560px; */
	/* background-color: black; */
	/* border: 5px solid black; */
	/* border-radius: 20px; */
	justify-content: center;
	align-items: center;
}

.mediaVid {
	box-shadow: 2px 5px #1f2937;
	border-radius: 30px;
}

.mediaBtn {
	width: 560px;
	font-size: 36px;
	background-color: #5dfdcb;
	border-radius: 30px;
	padding: 5px;
	box-shadow: 2px 5px #1f2937;
}

.mediaText {
	font-size: 18px;
	text-align: center;
	padding: 10px 0px;
}

.media .box1 {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	text-align: center;
	width: 150px;
}

.mediaSquare:hover {
	transform: scale(1.1);
}

.mediaSquare:active {
	transform: scale(0.9);
}

.contentOne {
	background-color: #8575fb;
}

.contentTwo {
	display: flex;
	flex-direction: column;
	background-color: #e3bac6;
}
