body {
	background-color: #fde8e9;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	min-width: 1050px;
	margin: 0;
}

button {
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 6px;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: inherit;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content {
	display: flex;
	justify-content: space-around;
	margin: 50px 0px;
	min-width: 1050px;
}

.contentBox {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: space-around;
}

.contentTitle {
	text-align: center;
	font-size: 32px;
	font-weight: bolder;
	color: #050826;
}

.contentPhoto {
	display: flex;
	justify-content: center;
	max-width: 900px;
}

.content1third {
	font-size: 24px;
	color: #050826;
}

.content1box2 {
	display: flex;
	width: 500px;
	justify-content: center;
	align-items: center;
}
