---
import './style/cssReset.astro';
import './style/header.css';
---

<header>
    <nav>
        <div class="hbox">
        <div class=headerLeft>
                <a href="/">Jessica Jama</button>
            </div>
        <div class=headerRight>
            <a href="/resume/">Resume</a>
            <a href="/links/">Links</a>
            <a href="/media/">Media</a>
        </div>
    </div>
    </nav>
</header>
