---
import '../components/style/cssReset.astro';
import Header from '../components/header.astro';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>
<Header></Header>
<body>
    
</body>
</html>