---
import { Image } from 'astro:assets';
import "../styles/contentBox.css"
---


<div class="content">
	<div class="contentBox">
		<div>
			<div class="contentTitle">
				Senior Product Manager at
				<br />
				<a href="https://www.hand2mind.com/">Hand2Mind</a> in Vernon Hills,
				Illinois
			</div>
		</div>
		<div class="contentPhoto">
			<Image
				src="/src/assets/img/PurplePercy.png"
				alt="A headshot of Jessica Jama"
				width="250"
				height="250"
			/>
		</div>
	</div>
</div>