---
import '../styles/cssReset.astro';
import '../styles/footer.css';
---

<div class="nav">
	<div class="navBox">
		<div class="footerLeft">
			<a href="/">2025</a>
		</div>
		<div class="footerRight">
			<!-- <div><a href="/resume/">Resume</a></div>
			<div><a href="/links/">Links</a></div>
			<div><a href="/media/">Media</a></div> -->
		</div>
	</div>
</div>
