---
import '../styles/cssReset.astro';
import '../styles/header.css';
---

<div class="nav">
	<div class="navBox">
		<div class="headerLeft">
			<a href="/">Jessica Jama</a>
		</div>
		<div class="headerRight">
			<div><a href="/resume/">Resume</a></div>
			<div><a href="/links/">Links</a></div>
			<div><a href="/media/">Media</a></div>
		</div>
	</div>
</div>
