---
import Image from 'astro/components/Image.astro';
import '../styles/iconStyle.css';
---

<div class="iconContainer">
	<div class="iconSquare">
		<button class="iconBtn" linked-In-Button>
			<Image
				src="/src/assets/img/linkedin.svg"
				alt="Instagram Logo External Link"
				width="100"
				height="100"
			/>
			<img /></button
		>
	</div>
	<div class="iconText">LinkedIn</div>
</div>

<script>
	const linkedInButton = document.querySelectorAll('linked-In-Button');
	linkedInButton.addEventListener('click', () => {
		extLink('https://www.linkedin.com/in/jessica-jama-28212898/');
	});
</script>
